.ccbox1{
    /* background-color: red; */
    margin-left: 110px;
    margin-right: 110px;
    margin-top: -70px;
}

.slick-prev {
    background-color: darkgray;
    width: 50px;
    height: 50px;
    margin-left: -34px;
    border-radius: 31px;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: #BFACE2;
    outline: none;
    background: #BFACE2;
}
.slick-next {
    background-color: darkgray;
    width: 50px;
    height: 50px;
    margin-right: -36px;
    border-radius: 31px;
}

.img1h {
    height: 459px;
    width: 540px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.img1 {
    width: 535px;
    height: 240px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.phase {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: -271px;
    cursor: pointer;
    color: grey;

}
.gurgaon{
    margin-left: -342px; 
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: grey;
}
.sharing {
    margin-left: -294px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 21px;
    cursor: pointer;
    color: grey;
}
.rs1 {
    float: right;
    margin-right: 21px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: grey;
}
.hr1{
    margin-top: -6px;
}
.sharing1 {
    margin-left: -294px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -8px;
    cursor: pointer;
    color: grey;
}
.rs2 {
    float: right;
    margin-right: 21px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: grey;
}
.hr2{
    margin-top: 13px;
}
.direction { 
    margin-left: -391px;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.booknow {
    float: right;
    margin-right: 19px;
    padding: 2px 14px;
    margin-top: -32px;
    border-radius: 7px;
    background-image: linear-gradient(85deg,red ,blue,cyan);
    color: white;
    border: none;
}
.booktext{
    margin-top: 3px;
}
.location{
    margin-right: 5px;
    cursor: pointer;
}
.dire{
    margin-right: 5px;
    cursor: pointer;
}
.hand{
    margin-right: 8px;
    cursor: pointer;
    
}
.share {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    margin-top: -39px;
    margin-right: 21px;
    cursor: pointer;
    color: grey;
}
.sharearrow{
    margin-right: 5px;
    cursor: pointer;
    color: grey;
}

.arrowleft {
    background-color: darkgray;
    width: 50px;
    height: 50px;
    border-radius: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 209px;
    margin-left: -59px;
    z-index: 99;
}

.ccarrow {
    font-size: 25px;
}
.arrowleft:hover{
    background-color: #BFACE2;
    color: white;
}
.arrowright {
    background-color: darkgray;
    width: 50px;
    height: 50px;
    border-radius: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -415px;
    margin-left: 1695px;
}
.ccarrowright{
    font-size: 25px;
}
.arrowright:hover{
   background-color: #BFACE2;
   color: white;
}