.css-1u9des2-indicatorSeparator{
  width: 0px !important;
}
.css-13cymwt-control {
 border-radius: 50px !important;
 width: 400px !important;
 margin-top: 5px;
 padding: 7px;
 justify-content: space-around !important;
 
}

.css-b62m3t-container{
  border-radius: 50px !important;
  width: 400px !important;
  margin-left: 0px;
}
.dropdown{
    margin-left: 11px;
}



@media screen and  ( max-width: 820px){
  .css-13cymwt-control {
    width: 251px !important;
    height: 20px;
    margin-top: 5px;
  
}
  .css-b62m3t-container {
    width: 251px !important;
    height: 20px;
  
}

}

@media screen and  ( max-width: 480px){
  .css-13cymwt-control{
    height: 44px !important;
    /* background-color: green; */
    width: 118px !important;
    position: absolute !important;
    margin-top: 1px !important;
  }
  .css-b62m3t-container {
    height: 44px !important;
    /* background-color: red; */
    width: 118px !important;
    position: absolute !important;
    margin-top: 1px !important;
}

}

@media screen and  ( max-width: 390px){
  .css-13cymwt-control{
    height: 44px !important;
    /* background-color: green; */
    width: 118px !important;
    position: absolute !important;
    margin-top: 1px !important;
  }
  .css-b62m3t-container {
    height: 44px !important;
    /* background-color: red; */
    width: 118px !important;
    position: absolute !important;
    margin-top: 1px !important;
}
    
    .dropdown {
      margin-left: 3px;
  }
}
