.test{
    border: 2px solid rgb(216, 214, 214);
    width: 100%;
    height: 700px;
    background-color: rgb(216, 214, 214);
}
.ttc1{
    width: 200px;
    height: 200px;
}
.ttimg{
    width: 436px;
    height: 322px;
    /* margin-left: 311px; */
}
.setting{
    /* background-color: red; */
    margin-left: 400px;
    margin-right: 400px;
    margin-top: -40px;
}
.setting1{
    /* background-color: green; */
    width: 150px;
    margin-right: 100px;
}
/* .slick-prev{
   opacity: 0;
}
.slick-next{
   opacity: 0;
} */