.test{
    border: 2px solid rgb(216, 214, 214);
    width: 100%;
    height: 700px;
    background-color: rgb(216, 214, 214);
}
.ttc1{
    width: 200px;
    height: 200px;
}
.ttimg{
    width: 436px;
    height: 322px;
    /* margin-left: 311px; */
}
.setting{
    /* background-color: red; */
    margin-left: 400px;
    margin-right: 400px;
    margin-top: -40px;
}
.setting1{
    /* background-color: green; */
    width: 150px;
    margin-right: 100px;
}

@media screen and (max-width:820px){

    .test{
        border: 2px solid rgb(216, 214, 214);
        width: 100%;
        height: 459px;
        background-color: rgb(216, 214, 214);
    }
    .setting {
        /* background-color: red; */
        margin-left: 75px;
        margin-right: 93px;
        margin-top: -85px;
    }
    .setting1{
        width: 310px;
        height: 322px;
    }
    .ttimg{
        width: 310px;
        height: 322px;
    }
}

@media screen and (max-width:480px){

    .test{
        border: 2px solid rgb(216, 214, 214);
        width: 100%;
        height: 459px;
        background-color: rgb(216, 214, 214);
    }
    .setting {
        /* background-color: red; */
        margin-left: 73px;
        margin-right: 72px;
        margin-top: -85px;
        height: 316px;
    }
    .ttimg{
        width: 331px;
        height: 316px;
    }
}